* {
    box-sizing: border-box;
  }
  /* Main colors for portfolio */
  :root {
    --primary: rgb(91, 134, 134);
    --secondary: rgba(146, 204, 206, 1);
    --tertiary: rgba(49, 52, 61, 1);
    --dark: rgba(28, 29, 33, 1);
    --light: rgba(238, 238, 247, 1);
  }
    /* made changes to font family and removed background color*/
    body {
      margin: 0;
      padding: 0;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: var(--primary);
      line-height: 1.5;
      background-image:url(./Turquoise-HD-Wallpaper-Background-Image-2560x1600-ID-.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
    }
    /* centered text and added em to the text itself */
    p {
      margin: 0;
    }
    /* added border radius */
    header {
      padding: 15px 6% 15px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      background-color: var(--tertiary);
      box-shadow: 0 5px 35px rgba(40, 42, 42, 0.4);
      /* border-radius: 20px; */
    }
    /*created id for border radius editing  */
    .rounder{
      border-radius: 30px;
    }
    /* added in border radius and shadow for most of content below as well as color edits and px etc, also added gradient teritary to nav words for effect */
    header h1 {
      color: var(black);
      background-color: var(black);
      padding: 5px 1% 5px 6%;
      margin: 0;
      font-size: 4vw;
      text-emphasis-color:(black) ;
      line-height: 1;
    }
    
    nav {
      display: flex;
      flex-direction: flex row;
      flex-wrap: wrap;
      border-radius: 20px;
      box-shadow: 10, 20, 5;
      align-items:stretch;
      
    }
    
    nav a {
      text-decoration: none;
      padding: 5px 10px;
      color: var(--primary);
      margin-right: 10px;
      background-image: linear-gradient(40deg, var(--tertiary) 0%, var(--secondary) 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: bottom;
      transition: all 0.25s ease-in;
      font-size: 1.4rem;
      border-radius: 20px;
      box-shadow: 10, 20, 5;
    }
    
    nav a:hover {
      background-size: 100%,100%;
      color: var(--primary);
    }
    
    nav a:last-child {
      margin-right: 0;
    }
    figure {
      border: 5px solid var(--secondary);
      background-color: var(--tertiary);
      color: var(--tertiary);
      min-height: 500px;
      max-width: 50%;
      display:flex;
      flex-basis: calc(1em);
      align-items: center;
      padding: 0 0 10px 0;
      margin-left: 25%;
      margin-bottom: 120px;
      background-blend-mode:light-soft;
      background-image:url("./Andre_Headshot_Shot3\ copy\ 2.jpg");
      border-image-width: 20px;
      background-size: cover;
      background-position: center;
      transition: all 0.8s;
      border-radius: 25px;
      background-repeat:no-repeat;
      flex-wrap:inherit;
    }
    main {
      margin-top:100px;
      margin-bottom: 45px;
    }
    /* added in border radius and changed background */
    .hero-pic {
      background: rgb(44, 44, 72);
      background-size: cover;
      background-position: center;
      background-blend-mode: soft-light;
      min-height: 10vh;
      color: var(--light);
      padding: 2% 6%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      text-align: center;
      /* border-radius: 20px; */
      box-shadow: 10, 20, 5;
    }
    
    .hero-pic div {
      flex: 0 0 40%;
    }
    /* dded in new font family */
    .hero-pic h2 {
      background-color:rgb(91, 134, 134);
      color: aliceblue;
      margin: 0;
      padding: 5px 10px;
      font-size: .3rem;
      line-height: 1.2;
      display: inline;
      font-size: large;
      font-family:'Times New Roman', Times, serif
    }
    .aboutMe{
        font-style: italic;
        color: aliceblue;
    }
    /* edited class attributes */
    .page-wrapping {
      max-width: 88%;
      margin-left: auto;
      margin-right: auto;
      color: black;
      text-align: center;
      
    }
  
  
    .page-section {
      margin: 20px 0;
      padding: 20px 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items:stretch;
      justify-content: space-evenly;
      text-decoration: black ;
    }
  
    
    .page-section > h2  {
      flex: 0 0 20%;
      text-align: center;
      padding-right: 15px;
      border-right: 4px solid var(--primary);
      font-size: 50px;
      line-height: 1.1;
      color: aliceblue;
     
    }
  
  
    
    .page-section > div {
      flex: 0 0 77%;
      
    }
    
    .page-section p {
      margin-bottom: 20px;
      color: black;
      
    }
    
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    /* added in url image */
    .item {
      border: 5px solid var(--secondary);
      background-color: var(--tertiary);
      color: var(--tertiary);
      min-height: 250px;
      max-height: 200px;
      flex-basis: calc(50% - 1em);
      display: flex;
      align-items: flex-end;
      padding: 0 0 10px 0;
      margin: 0.5em;
      text-decoration:;
      background-blend-mode: soft-light;
      background-size: 100%;
      transition: all 0.8s;
      font-size: 0.9rem;
      border-radius: 25px;
  
    }
    
   
    .item:first-child {
      border-radius: 30px; 
      min-height: 350px;
        flex-basis: 80%;
  
    }
    /* added in hover to text in item boxes */
    .item:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
    
    .item div {
      background-color: var(--secondary);
      padding: 1px 10px;
      border-radius: 25px;
    }
    
    .item h3 {
      font-size: 1.6rem;
    }
    .item h3:hover {
      background-size: 100% 100%;
      color: var(--primary);
       transition: all 0.2s;
    }
    .item span:hover{
      background-size: 100% 100%;
      color: var(--primary);
       transition: all 0.2s;
    }
    .contact address {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding:4px;
      margin:0 0 10px 0;
    }
  
    
    .contact address a {
      color: var(--tertiary);
      padding: 5px;
      text-decoration: modified;
      font-size: 1.3rem;
      font-family: Arial, Helvetica, sans-serif;
      background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
      background-repeat: no-repeat;
      background-size: 100% 0.2em;
      background-position: bottom;
      margin: 0 0.2rem 0.1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 20px;
      box-shadow: 10, 20, 5;
    }
    .containerF {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: center;
      height: 100%;
      padding:4px;
      margin:0 0 10px 0;
    }
    
    .contact address a:hover {
      background-size: 100% 77%;
      color: var(--secondary);
    }
    
    /*images for flex box items */
    .tuneTip {
      background-image: url("./assets/download.jpg");
      background-position: center;
    }
    
    .javascript {
      background-image: url("./assets/javaa.png");
      background-position: center;
    }
    
    .style {
      background-image: url("./assets/style\ pic.png");
      background-position: center;
    }
    
  
    .css {
      background-image: url("./assets/css.jpg");
      background-position: center;
    }
    
  
    /*  media query for mobile and desktop screens */
    @media screen and (max-width: 980px) {
      header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
      }
    
      header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
      }
    
      header nav {
        justify-content: center;
      }
    
      .page-section > h2,
      .page-section > div {
        flex: 0 0 100%;
      }
    
      .page-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
      }
  
     .figure {
       justify-content: stretch;
     }
    }
    
    @media screen and (max-width: 768px) {
      .flex-item,
      .flex-item:first-child {
        flex-basis: 100%;
      }
    
      .flex-item:first-child {
        min-height: 150px;
      }
    
      .hero-banner {
        justify-content: center;
        text-align: center;
      }
    
      .contact address {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    